@font-face {
	font-family: 'Myriad_Web_Pro';
	src: url('../fonts/Myriad_Web_Pro.eot');
	src: url('../fonts/Myriad_Web_Pro.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Myriad_Web_Pro.woff') format('woff'),
	url('../fonts/Myriad_Web_Pro.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Philosopher";
	src: url("../fonts/philosopher.eot");
	src: url("../fonts/philosopher.eot?#iefix")format("embedded-opentype"),
	url("../fonts/philosopher.woff") format("woff"),
	url("../fonts/philosopher.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
html, body{
	min-height: 100%;
	width: 100%;	
}
a{
	text-decoration: none !important;
	outline: none !important;
}
.home>a, .materials>a, .contacts>a{
	color: inherit !important;
}
p, a, ul, li{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
.col-lg-1, .col-lg-10, .col-lg-11,
.col-lg-12, .col-lg-2, .col-lg-3,
.col-lg-4, .col-lg-5, .col-lg-6,
.col-lg-7, .col-lg-8, .col-lg-9,
.col-md-1, .col-md-10, .col-md-11,
.col-md-12, .col-md-2, .col-md-3,
.col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9,
.col-sm-1, .col-sm-10, .col-sm-11,
.col-sm-12, .col-sm-2, .col-sm-3,
.col-sm-4, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9,
.col-xs-1, .col-xs-10, .col-xs-11,
.col-xs-12, .col-xs-2, .col-xs-3,
.col-xs-4, .col-xs-5, .col-xs-6,
.col-xs-7, .col-xs-8, .col-xs-9{
	padding: 0;
	margin: 0;
}
.main-wrapper{
	max-width: 1400px;
	margin: 0 auto;
	overflow: auto;
	box-shadow: 0 0 15px 0;
}
/*Верхній хедер */
.header{
	width: 100%;	
}
.top_header{
	width: 100%;
	height: 110px;	
	background-image: url(../img/top_bg.jpg);
	background-position: center;
	position: relative;
}
.logo img{
	margin: 5px 0 0 15px;
}
.name {	
	color:#fff;	
	font: bold 44px "Philosopher" ;
	line-height: 45px;	
	padding:8px 0 0 30px;	
}
.name p:nth-child(2){
	padding-left: 257px;
}
.search{
	height: 100%;
}
.search .lang{
	position: absolute;
	top: 10px;
	right:0;
}
.search .lang a{
	padding-right: 10px;
}
.search .text{
	position: absolute;
	bottom: 0;
	right: 0;
	padding:10px 40px;
	color:#fff;
	background-color: rgba(255,255,255,.3);
	font: bold italic 24px "Philosopher";
}
.search span{
font-size: 22px;
padding-right:5px;
}
/*Нижній хедер */
.bot_header{		
	width: 100%;	
	clear: both;
	z-index: 5;
}
.bot_header div{	
	padding: 0;		
}
.bot_header p {
	border-left: 1px solid #4ECCC9; 
	border-right: 1px solid #4ECCC9;	
	background-color: transparent;	
	line-height: 70px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Myriad_Web_Pro', sans-serif;
	font-size: 24px;
	color:inherit;
	text-shadow: rgba(0, 0, 0, .25) 2px 2px 1px;
	cursor: pointer;
}
/* Підкреслююча лінія і ховер блоків*/
.menu_item {
	color: white;
	background: #7ADAD7;
	transition: all .4s ease;
}
.bot_header .menu_item:after {
	display: block;
	content: "";
	height: 4px;
	width:0;
	background-color: #FF0000;
	transition: width .3s ease-in-out;
	position: absolute;
	right: 50%;
	bottom: 0;
}
.bot_header .menu_item:before{
	display: block;
	content: "";
	height: 4px;
	width:0;
	background-color: #FF0000;
	transition: width .3s ease-in-out;
	position: absolute;
	left: 50%;
	bottom: 0;
}
.bot_header .menu_item:hover:after {
	width: 50%;       
}
.bot_header .menu_item:hover:before {
	width: 50%;       
}
.bot_header .menu_item:hover {
	background-color: #fff;
	color:#000000;
}
/*Випадаюче меню*/
.dropdown {
	position: absolute;
	top: 100%;
	display: none;
	width: 100%;
	box-shadow: 0 2px 5px 2px rgba(0, 0, 0, .2);
	padding-top:2px; 
}
.dropdown li {	
	background-color: #fff;
	padding: 0 0 0 10px;
	transition: all .4s ease;
}
.dropdown li a{
	color: #2A1648;
	line-height: 40px;	
	display: block;
	font-size: 16px;
	text-decoration: none;
	transition: all .4s ease;
}
.about:hover .dropdown,
.abit:hover .dropdown,
.materials:hover .dropdown,
.stud:hover .dropdown {
	display: block;
	z-index: 1;
}
.dropdown li a:hover{	
	color: #fff;
	font-weight: normal;
}
.dropdown li:hover{
	background-color: #2A1648;	

}
/*Слайдер*/
#carousel{
	padding: 0;	
}
.carousel-indicators {
	bottom: 30px;
}

.carousel-indicators li {
	background-color: #7ADAD7 !important;
	border:none;

}   
.carousel-indicators .active {
	background-color: #7ADAD7 !important;
	width: 16px !important;
	height: 16px !important;   
	transition: all .8s ease;
}
.item img,
.carousel-inner{
	width: 100%;
}
.carousel-control {
	color: #2A1648 !important;    
	transition: all .3s ease;
}
.carousel-control .glyphicon:before {     
	font-size: 40px !important;  
}
.carousel-control:hover {
	color: #615176 !important;      
}

.carousel-control.right  {
	background-image: none;
}

.carousel-control.left {
	background-image: none;
}
.carousel-caption{
	bottom: 40px;
}

/*Основний контент*/
.row{
	margin: 0;
	padding: 0;
}
._content{
	background: url(../img/bg_1.png) no-repeat left top;
	width: 100%;	
	padding: 0 6.75%;	
	overflow: hidden;
}
._content .col-md-4{
	padding:2.25% 2.25%;
	height: 320px;	
}
._content .col-md-4>div{
	display: block;
	height: 268px;
	padding-top: 150px;
	text-align: center;
	vertical-align: bottom;
	font-family: 'Myriad_Web_Pro', sans-serif;
	font-size: 30px;
	color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
	transition: all .4s ease;
	position: relative;
}
._content .col-md-4>div:hover{
	box-shadow: none;
	color: rgba(255,255,255,.9);
}
._content .col-md-4>div:before{
	display: block;
	content: "";
	box-shadow: none;
	transition: all .2s ease;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 10px;
	width: 100%;
	height: 100%;
}
._content .col-md-4>div:hover:before{
	display: block;
	content: "";
	box-shadow: inset 0 0 5px 0 rgba(0,0,0,.2);
}


/*Фонові картинки в квадратному меню*/
#forStudents{
	background: url(../img/forStudents.png) no-repeat #7ADAD7 center 50px;
}
#registration{
	background: url(../img/regist.png) no-repeat #7ADAD7 center 50px;
}
#proposition{
	background: url(../img/proposition.png) no-repeat #7ADAD7 center 50px;
}
#history{
	background: url(../img/history.png) no-repeat #7ADAD7 center 50px;
}
#rest{
	background: url(../img/rest.png) no-repeat #7ADAD7 center 50px;
}
#forTeach{
	background: url(../img/forTeach.png) no-repeat #7ADAD7 center 50px;
}

/*menu animation*/
.bot-men-tab>div{
	background-size: 75px 80px !important;
}
.bot-men-tab>div:hover{
	background-size: 40px 45px !important;
}
.bot-men-tab .bot-men-tab-header{
	transition: all .25s ease;
}
.bot-men-tab>div:hover .bot-men-tab-header{
	margin-top: -55px;
}
.bot-men-tab .listBlockHome1{
	font-size: 12px;
}
.bot-men-tab .listBlockHome2{
	font-size: 12px;
}
.listBlockHome2 {
	position: relative;
	z-index: 1;
	text-align: left;
	margin: 0 20px;
}
.listBlockHome2 a {
	display: block;
	text-decoration: none;
	padding: 0 20px;
	color: #ffffff;
	margin: 0 20px;
	padding: 3px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.54);
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
}
.listBlockHome2 a:hover {
	text-decoration: none;
	background: #fff;
	color: #238cbb;
	padding-left: 15px;
	border-color: transparent;
}

/*Заголовок новини та подїї*/
.news_header {
	height: 100px;	
	background-image: url(../img/news_bg.png);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;	
}
.news_header .row{
	background-color: rgba(122, 218, 215, .80);
	height: 100px;		
}
.news_header .row h2{
	font-family: 'Myriad_Web_Pro', sans-serif;
	font-size: 50px; 
	margin: 0 !important;
	padding-top: 20px;
	color: #fff;
	text-align: center;	
}
/*Контент новин та подій, фон*/
.news_container{
	width: 100%;
	background: url(../img/bg_3.png) no-repeat left top;
	position: relative;
	overflow: hidden;
}
.main-text-container{
	display: block;
	background-color: #fff;
	padding: 10px;
}
._wrapper{
	background-color: rgba(233,233,233, .87);
	overflow: hidden;
}
/*Розташування колонок*/
.news_container ._wrapper .col-md-8{
	padding: 2.25% 4.3% 2.25% 8.7%;
}
.news_container ._wrapper .col-md-4{
	padding: 2.25% 8.7% 0 0;	
}  
.news_container ._wrapper .col-md-4{
	margin-bottom: 2.25%;
}
.news_bar_head {
	position: relative;
	z-index: 1;
}
.news_container ._wrapper .news_disp{
	display: block;
	background-color: #fff;
	padding: 10px;
	border-bottom: 2px solid #7ADAD7;
	min-height: 100px;
}
.news-list ul {
	box-shadow: 0 2px 30px 1px rgba(0,0,0,.2);
	text-align: justify;
}
/*Оформлення головної новини*/
.news_container .news_disp{
	min-height: 550px;
	box-shadow: 0 2px 30px 1px rgba(0,0,0,.2);
}
a.news_disp.news1 {
	border: none;
}
.news_container .news_disp .news-text1{
	font-size: 18px;
	font-weight: normal;
}
.news_container .news_disp .news-header1{
	font-size: 18px;
	font-weight: bold;
	margin: 5px 0;
}
.news_container .news_disp .news-logo1{
	margin: 0 auto;
	max-width: 705px;
	max-height: 400px;
}
.news_container .news_disp .news-logo1 img{
	display: block;
}
.load-logo{
	padding: 50px 150px;
}
/*Бокове меню новин*/
.news_disp-header {
	z-index: 1;
	position: relative;
}
.news_container h3{
	text-align: center;
	color: #fff;
	margin: 0;
	line-height: 70px;
	font-family: 'Myriad_Web_Pro', sans-serif;
	font-size: 48px; 
	background-color: #7ADAD7;
}
.news_container .col-md-4 ul li a img{
	margin: 5px 10px 0 0;
	display: block;
	float: left;
}
.n-h{
	margin: 0 0 10px 0;
}
.news_container .col-md-4 ul li a span{
	font-weight: bold;
	font-size: 15px;
}
.news_container .col-md-4 ul li a p{
	color: #000;
}
.news-list {
	float: right;
}
/*Блок оголошення*/
.attetnion {
	width: 62.5%;
	float: left;
	margin-bottom:30px; 
	clear: left;
	padding-left:8.7%; 	
}
.adver-head {
	position: relative;
	z-index: 1;
}
.attetnion .cont{
	padding: 0;
	width: 100%;
	height: 480px;
	background-color: #fff;
	text-align: center;
	display: table;
	box-shadow: 0 2px 30px 1px rgba(0,0,0,.2);
}
.attetnion .cont h1{
	display: table-cell;
	vertical-align: middle;
}
/*Блок звяжіться з нами*/
.contact-us .row_bgr{
	width: 100%;
	height: 150px;
	background: linear-gradient(to bottom, #7ADAD7, #fff);
}
.contact-us .row_bgr h2{
	font: italic bold 48px Verdana;
	color: #fff;
	text-align: center;
}
#social img {
margin:0 20px;
-moz-transition: all 0.8s ease-in-out;
-webkit-transition: all 0.8s ease-in-out;
-o-transition: all 0.8s ease-in-out;
-ms-transition: all 0.8s ease-in-out;
transition: all 0.8s ease-in-out;
}
/* Social animation*/
#social img:hover {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}
#social .col-md-6{
	padding: 0;
}
#social .left_hr{
	padding-right:0;
}
#social .right_hr{
	padding-left:0;
}
#social .icons {
	text-align: center;
}
#social .col-md-3 hr{
	margin-top: 50px;
	border: 2px solid #7ADAD7;
}
@keyframes shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}

	30%, 50%, 70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%, 60% {
		transform: translate3d(4px, 0, 0);
	}
}
.map > ymaps > ymaps  {
	border-radius: 10px;
	box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
	border: 2px solid rgba(123, 123, 123, 0.28);
	overflow: hidden;
}
.map.col-md-6 {
	padding: 2.25% 0 0 8.7%;
}

.adress.col-md-6{
	color: #7C9C9B;
	padding: 2.25% 8% 0 0;
}
.adress.col-md-6 a{
	color: #E1A600;
}
.adress.col-md-6 span{
	color: red;
}
.adress.col-md-6 a:hover{
	text-shadow: rgba(0,0,0, .25) 1px 1px;	
}

.adress.col-md-6 p:first-child {
	font: italic bold 35px Verdana;
	line-height: 45px;
}
.adress.col-md-6 p:nth-child(2) {
	font: italic bold 20px Verdana;
	line-height: 45px;
}
.adress.col-md-6 p:nth-child(3) {
	font: italic bold 18px Verdana;
	padding:9px 0; 
}
.adress.col-md-6 p:nth-child(4) {
	font: italic bold 18px Verdana;
	padding:9px 0; 
}
.adress.col-md-6 p:nth-child(5) {
	font: italic bold 18px Verdana;
	padding:9px 0; 
}
.adress input{
	font:  24px Verdana;
	color: #fff;
	width: 370px;
	height: 60px;
	margin: 25px 0;
	float: right;
	background-color: #7ADAD7;
	border-radius: 15px;
 	border: none;
}
.adress input:hover{
	opacity: .85;
}
footer{
	text-align: center;
	font:  14px Verdana;
	color: #fff;
	background-color: #7ADAD7;
	padding: 15px !important;
	clear: both;
}


/*history page*/
.history{
	font:  18px "Philosopher";
	line-height: 25px;
	display: block;
	background-color: #fff;
	padding: 10px;
	text-align: justify;
}
/*science_activity page*/
.science_activity p{
	font-family: verdana;
	position: relative;
	font-size: 20px;
	background-color: transparent;
	text-align: justify;
	color: #222;
	overflow: hidden;
	margin-top: 10px;

}
.science_activity p img {
	margin:15px 10px 5px 15px;
	float: right;
	box-shadow: 0 5px 10px 1px;
}
.science_activity p:nth-child(3) img{
	float: left;
}
.science_activity p:nth-child(5) img{
	float: left;
}
.act_center{
	display: block;
	margin: 0 auto;
	box-shadow: 0 5px 10px 1px;
	margin-top:20px;
}


/*publish page*/
.main-publish-container #accordion h3 {
	cursor: pointer;
	position: relative;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	font-size: 24px;
	transition: all .3s ease;
	z-index: 1;
}
.main-publish-container #accordion h3:hover{
	color: #7ADAD7;
}
.main-publish-container #accordion h3:after {
	display: block;
	content: "";
	height: 100%;
	width:0;
	background-color: white;
	transition: width .3s ease-in-out, opacity .3s ease;
	position: absolute;
	right: 50%;
	bottom: 0;
	z-index: -1;
	opacity: 0;
}
.main-publish-container #accordion h3:before{
	display: block;
	content: "";
	height: 100%;
	width:0;
	background-color: white;
	transition: width .3s ease-in-out, opacity .3s ease;
	position: absolute;
	left: 50%;
	bottom: 0;
	z-index: -1;
	opacity: 0;
}
.main-publish-container #accordion h3:hover:after {
	width: 50%;
	opacity: 1;
}
.main-publish-container #accordion h3:hover:before {
	width: 50%;
	opacity: 1;
}
.main-publish-container #accordion p {
	background-color: #fff;
	padding: 10px 20px;
	text-indent: 20px;
	text-align: justify;
}

/*entry page*/
.field-item{
	text-align: justify;
	padding: 10px;
}

.field-item>p{
	text-indent: 20px;
	padding: 5px;
}

.field-item table td {
	padding: 3px 10px;
}

.field-item ol li {
	list-style: decimal
}